# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Files\Localization Optimization with LOS map\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
